<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Crime Score</ion-card-subtitle>
    <ion-card-title>Methodology</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    The Augurisk Crime score is defined in your Census Block Group, by taking into account yearly violent and property crimes rates per 1000 inhabitants, predicted by our machine learning algorithm between 2014 and 2018. In order to predict crime occurrences where data is unavailable, our algorithm uses over 180 socio-economic, demographic, climatic, spatial, and law enforcement predictors selected based on various insights, from multidisciplinary literature review to correlation analysis and feature engineering. The predicting model has been tested against crime data collected by the Open Crime Database for around 11 cities in the US with a 79% accuracy.
    <br><br>Augurisk Now shows a threat whenever the score is higher than 70.
  </ion-card-content>
</ion-card>
<p class="tip flex-center">Ashby, M.P.J. (2019): Studying Crime and Place with the Crime Open Database. Research Data Journal for the Humanities and Social Sciences 4(1), pp. 65-80.
  U.S. Census Bureau: American Community Survey, 2014-2018 5-Year Estimates.
  Fick. S.E., and R.J. Hijmans, 2017. WorldClim 2: new 1km spatial resolution climate surfaces for global land areas. International Journal of Climatology 37(12): 4302-4315.</p>
<div class="flex-center pb-20"><ion-button (click)="closeModal()">Close</ion-button></div>
