<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/started"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!--start: Forgot Password (1) Email Submission -->
  <ion-card [hidden]="verify$ | async">
    <ion-card-header>
      <ion-card-title class="ion-text-center pt-10">Forgot your password?</ion-card-title>
      <ion-card-subtitle class="ion-text-center pt-10">A verification code will be sent to your email</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <div>
        <form [formGroup]="forgotForm" (ngSubmit)="submitForgotForm()" novalidate>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            
            <!-- Start: Notification Message Box -->
            <ion-grid *ngIf="notificationMessage$ | async as errorMessage">
              <ion-row class="ion-align-items-center">
                <ion-col size="12" class="ion-text-center">
                  <ion-item [color]="errorMessage.type">
                    <ion-text color="light" text-wrap> {{ errorMessage.message }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- end: Notification Message Box -->

            <ion-item>
              <ion-label position="floating">Email address
              </ion-label>
              <ion-input name="email" formControlName="email" required type="text"></ion-input>
            </ion-item>
            <span color="danger" *ngIf="controlHasError(forgotForm, 'email','required')"
              class="error-light ion-padding">
              Email is required.
            </span>
            <span color="danger" *ngIf="controlHasError(forgotForm, 'email', 'email')" class="error-light ion-padding">
              Please type a correct email.
            </span>

          </ion-list>

          <div class="pt-30 pb-10">
            <ion-button expand="block" color="primary" type="submit" class="ion-no-margin">
              Submit</ion-button>
          </div>
          <p class="notice ion-text-center pt-10" color="medium">
            Don't have an account? <br> <a routerLink="/auth/register">Tap to signup</a>.
          </p>
          
        </form>
      </div>
    </ion-card-content>
  </ion-card>

  <!--start: Forgot Password (2) Code and Reset -->
  <ion-card [hidden]="!(verify$ | async)">
    <ion-card-header>
      <ion-card-title class="ion-text-center pt-10">Forgot your password?</ion-card-title>
      <ion-card-subtitle class="ion-text-center pt-10">Please type your verification code and a new password</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>
        <form [formGroup]="changePasswordForm" (ngSubmit)="cognitoChangePassword()" novalidate>
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            
            <!-- Start: Notification Message Box -->
            <ion-grid *ngIf="notificationMessage$ | async as errorMessage">
              <ion-row class="ion-align-items-center">
                <ion-col size="12" class="ion-text-center">
                  <ion-item [color]="errorMessage.type">
                    <ion-text color="light" text-wrap> {{ errorMessage.message }}</ion-text>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- end: Notification Message Box -->

            <ion-item>
              <ion-label position="floating">Verification Code
              </ion-label>
              <ion-input name="verificationCode" formControlName="verificationCode" required type="text"></ion-input>
            </ion-item>
            <span color="danger" *ngIf="controlHasError(changePasswordForm, 'verificationCode','required')"
              class="error-light ion-padding">
              Verification Code is required.
            </span>

            <ion-item>
              <ion-label position="floating">New Password</ion-label>
              <ion-input name="password" formControlName="password" required type="password"></ion-input>
            </ion-item>
            <span color="danger" *ngIf="controlHasError(changePasswordForm, 'password','required')"
              class="error-light ion-padding">
              Password is required.
            </span>
            <span color="danger" *ngIf="controlHasError(changePasswordForm, 'password','minlength')"
              class="error-light ion-padding">
              Please type a longer password. Must be longer than 6 characters.
            </span>
            <span color="danger" *ngIf="controlHasError(changePasswordForm, 'password','maxlength')"
            class="error-light ion-padding">
            Your password is too long. Must be bellow 100 characters.
          </span>

            <ion-item>
              <ion-label position="floating">Password Confirmation</ion-label>
              <ion-input name="confirmPassword" formControlName="confirmPassword" required type="password"></ion-input>
            </ion-item>
            <span color="danger" *ngIf="controlHasError(changePasswordForm, 'confirmPassword','required')"
              class="error-light ion-padding">
              Password Confirmation is required.
            </span>
            <span color="danger" *ngIf="controlHasError(changePasswordForm, 'confirmPassword','minlength')"
              class="error-light ion-padding">
              Your password confirmation is too short. Must be longer than 6 characters.
            </span>
            <span color="danger" *ngIf="controlHasError(changePasswordForm, 'confirmPassword','maxlength')"
            class="error-light ion-padding">
            Your password confirmation is too long. Must be bellow 100 characters.
          </span>

          </ion-list>

          <div class="pt-30 pb-10">
            <ion-button expand="block" color="primary" type="submit" class="ion-no-margin">
              Change Password</ion-button>
          </div>

          <div class="pt-10 pb-10">
            <ion-button expand="block" color="tertiary" (click)="submitForgotForm()" class="ion-no-margin">
              Resend Code</ion-button>
          </div>

          <p class="notice ion-text-center pt-10" color="medium">
            Don't have an account? <br> <a routerLink="/auth/register">Tap to signup</a>.
          </p>
        </form>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>