<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Storm Events</ion-card-subtitle>
    <ion-card-title>Methodology</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    A probabilistic approach is applied using data from the NOAA natural hazard database. The probabilistic component is associated to an impact measure to define a county-level Storm event hazard index, based on several hazard components: Tornadoes, Hurricanes, Blizzards, Snow Storms, and Hail Storms.
    <br><br>Augurisk Now shows a threat whenever the score is higher than 70.
  </ion-card-content>
</ion-card>
<p class="tip flex-center">Source: NOAA National Centers for Environmental Information: Storm Events database.</p>
<div class="flex-center pb-20"><ion-button (click)="closeModal()">Close</ion-button></div>
